.columns__column-link {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.columns__column-link:last-child {
  margin-bottom: 0;
}

.columns__column-link a {
  display: flex;
}
